﻿$accent: #64b5f6; // primary color
$border-color: #DDD;
$border-width: 2px;
$gutter: .675rem;

$enable-transitions: true; // all transitions (i.e. border color)
$enable-hover-feedback: true; // feedback on hover (i.e. border color)
$enable-focus-feedback: true; // feedback on focus (i.e. border color)
$enable-pointer-cursor: true; // use pointer cursor when hovering inputs other than text-derived ones

$prevent-active-feedback: false; // prevent a brief flash of focus (i.e. when clicking a checkbox)

$hide-elements-pre-init: true; // hide elements (those with a class of 'ei') prior to initialisation/doc-ready