﻿@charset "UTF-8";
@font-face {
  font-family: 'EasyInput';
  src: url("fonts/EasyInput.ttf?5sbxx") format("truetype"), url("fonts/EasyInput.woff?5sbxx") format("woff"), url("fonts/EasyInput.svg?5sbxx#EasyInput") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="ei-icon-"], [class*=" ei-icon-"] {
  font-family: 'EasyInput' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@keyframes bounce {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.25); } }

.ei:not([data-ei-id]) {
  visibility: hidden; }

.ei-wrap {
  display: inline;
  position: relative; }
  .ei-wrap * {
    box-sizing: border-box; }

.ei-hidden {
  display: none !important; }

.ei-input {
  background-color: #FFF;
  border: 2px solid #DDD;
  border-radius: 1px;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  outline: none;
  user-select: none;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 34px;
  transition: border linear 75ms; }
  .ei-input:hover {
    border-color: #c4c4c4; }
  .ei-input:focus {
    border-color: #64b5f6; }
  .ei-input:not([type=text]):not(textarea) {
    cursor: pointer; }

.ei-checkbox, .ei-radio {
  width: 18px;
  height: 18px;
  line-height: 14px;
  position: relative;
  cursor: pointer; }
  .ei-checkbox::before, .ei-checkbox::after, .ei-radio::before, .ei-radio::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: inherit;
    box-sizing: border-box; }
  .ei-checkbox.bigger, .ei-radio.bigger {
    width: 30px;
    height: 30px;
    line-height: 26px; }

.ei-checkbox::before, .ei-checkbox::after {
  transition: top ease-out 100ms, bottom ease-out 100ms; }

.ei-checkbox::before {
  bottom: 100%;
  font-family: EasyInput;
  content: "";
  z-index: 1;
  text-align: center;
  font-size: 12px; }

.ei-checkbox::after {
  top: 100%;
  background-color: inherit; }

.ei-checkbox[data-ei-checked='true']::before {
  bottom: 0; }

.ei-checkbox[data-ei-checked='true']::after {
  top: 0; }

.ei-checkbox.bigger::before {
  font-size: 18px; }

.ei-radio {
  border-radius: 50%; }
  .ei-radio::after {
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: #64b5f6;
    opacity: 0;
    transform-origin: center;
    transform: scale(0);
    transition: opacity ease 100ms, transform ease 100ms; }
  .ei-radio[data-ei-checked='true']::after {
    transform: scale(1);
    opacity: 1; }

.ei-text-wrap {
  display: block; }
  .ei-text-wrap input, .ei-text-wrap textarea {
    display: block; }
  .ei-text-wrap textarea {
    line-height: 1;
    padding: 0.50625rem 0.675rem; }

.ei-placeholder {
  position: absolute;
  top: 0;
  font-size: 75%;
  line-height: 10px;
  background-color: #FFF;
  padding: 0 4px;
  opacity: 0;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  margin-left: 0.675rem;
  transform: translate(-3px, 0);
  transition: transform ease 100ms, opacity ease 75ms; }
  .ei-placeholder.ei-active {
    opacity: 1;
    transform: translate(-3px, -50%); }

.ei-select {
  padding-left: 0.675rem;
  padding-right: 0.675rem; }
  .ei-select::before {
    font-family: EasyInput;
    content: "";
    float: right;
    margin-left: 0.675rem; }
  .ei-select.ei-active::before {
    transform: rotate(180deg); }

.ei-widget {
  position: absolute;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 6px rgba(75, 75, 75, 0.2);
  border-radius: 3px; }

.ei-options {
  white-space: nowrap; }

.ei-option {
  padding: 0 0.675rem;
  line-height: 24px;
  outline: none;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; }
  .ei-option:hover, .ei-option:focus {
    background-color: rgba(0, 0, 0, 0.1); }
  .ei-option[data-disabled] {
    opacity: .5;
    pointer-events: none; }
