@import "easyInput.config.scss";
@import "font.scss";
@import "animations.scss";

.ei {
	@if $hide-elements-pre-init == true {
		&:not([data-ei-id]) {
			visibility: hidden;
		}
	}
}

.ei-wrap {
	display: inline;
	position: relative;

	* {
		box-sizing: border-box;
	}
}

.ei-hidden {
	display: none !important;
}

.ei-input {
	background-color: #FFF;
	border: $border-width solid $border-color;
	border-radius: 1px;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	outline: none;
	user-select: none;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 34px;

	@if $enable-transitions == true {
		transition: border linear 75ms;
	}

	&:hover {
		@if $enable-hover-feedback {
			border-color: darken($border-color, 10);
		}
	}

	&:focus {
		@if $enable-focus-feedback == true {
			border-color: $accent;
		}
	}

	&:active {
		@if $prevent-active-feedback == true {
			border-color: $border-color;
		}
	}

	@if $enable-pointer-cursor == true {
		&:not([type=text]):not(textarea) {
			cursor: pointer;
		}
	}
}

.ei-checkbox, .ei-radio {
	width: 18px;
	height: 18px;
	line-height: 14px;
	position: relative;
	cursor: pointer;

	&::before, &::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		line-height: inherit;
		box-sizing: border-box;
	}

	&.bigger {
		width: 30px;
		height: 30px;
		line-height: 26px;
	}
}

.ei-checkbox {
	&::before, &::after {
		@if $enable-transitions == true {
			transition: top ease-out 100ms, bottom ease-out 100ms;
		}
	}

	&::before {
		bottom: 100%;
		font-family: EasyInput;
		content: $icon-tick;
		z-index: 1;
		text-align: center;
		font-size: 12px;
	}

	&::after {
		top: 100%;
		background-color: inherit;
	}

	&[data-ei-checked='true'] {
		&::before {
			bottom: 0;
		}

		&::after {
			top: 0;
		}
	}

	&.bigger {
		&::before {
			font-size: 18px;
		}
	}
}

.ei-radio {
	border-radius: 50%;

	&::after {
		border-radius: 50%;
		border: 2px solid #FFF;
		background-color: $accent;
		opacity: 0;
		transform-origin: center;
		transform: scale(0);

		@if $enable-transitions == true {
			transition: opacity ease 100ms, transform ease 100ms;
		}
	}

	&[data-ei-checked='true'] {
		&::after {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.ei-text-wrap {
	display: block;

	input, textarea {
		display: block;
	}

	textarea {
		line-height: 1;
		padding: $gutter * .75 $gutter;
	}
}

.ei-placeholder {
	position: absolute;
	top: 0;
	font-size: 75%;
	line-height: 10px;
	background-color: #FFF;
	padding: 0 4px;
	opacity: 0;
	z-index: 10;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	pointer-events: none;
	margin-left: $gutter;
	transform: translate(-3px, 0);

	@if $enable-transitions {
		transition: transform ease 100ms, opacity ease 75ms;
	}

	&.ei-active {
		opacity: 1;
		transform: translate(-3px, -50%);
	}
}

.ei-select {
	padding-left: $gutter;
	padding-right: $gutter;

	// before rather than after to allow for clipping/text overflow
	&::before {
		font-family: EasyInput;
		content: $icon-angle-down;
		float: right;
		margin-left: $gutter;
	}

	&.ei-active {
		&::before {
			transform: rotate(180deg);
		}
	}
}

.ei-widget {
	position: absolute;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, .05);
	box-shadow: 0 1px 6px rgba(75, 75, 75, .2);
	border-radius: 3px;
}

.ei-options {
	white-space: nowrap;
}

.ei-option {
	padding: 0 $gutter;
	line-height: 24px;
	outline: none;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;

	@if $enable-pointer-cursor == true {
		cursor: pointer;
	}
	@else {
		cursor: default;
	}

	&:hover, &:focus {
		@if $enable-hover-feedback {
			background-color: rgba(0, 0, 0, .1);
		}
	}

	&[data-disabled] {
		opacity: .5;
		pointer-events: none;
	}
}
