﻿@font-face {
	font-family: 'EasyInput';
	src: url('fonts/EasyInput.ttf?5sbxx') format('truetype'), url('fonts/EasyInput.woff?5sbxx') format('woff'), url('fonts/EasyInput.svg?5sbxx#EasyInput') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ei-icon-"], [class*=" ei-icon-"] {
	font-family: 'EasyInput' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$icon-angle-down: "\e900";
$icon-tick: "\e901";